/* Kódok:
szürke: #e2e2e2
kék: #1000ff */


/* Látványterv után írt dolgok innentől */
.container {
  padding: 20px; 
}

.container-background {
  background-color: #e2e2e2;
}

::ng-deep .name {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none !important;
  display: inline;
}


.mainh {
  color: #1000ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.navbar-toggler-icon {
  background-color: #ffffff;
  height: 2px;
  width: 20px;
}

.tag-box {
  margin-bottom: 10px;
  margin-left: 150px;
}

/* Látványterv után írt dolgok idáig */


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li {
  box-sizing: border-box;
  padding: 5px;
}

li a{
    height: 35rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #1000ff;
}

a {
  text-decoration: none;
  color: #333;
}


.gallery-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .thumbnails {
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  
  .thumbnails div {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #aaa;
    border-radius: 100%;
  }
  
  .thumbnails div.highlighted {
    background-color: #777;
  }
  
  .slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 540px;
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 540px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }