<app-search></app-search>

<ul>
    <li *ngFor="let film of filmek">
        <a routerLink="/film/{{film.id}}">
            <img [src]="film.imageUrl" [alt]="film.name">
            <div class="content">
                <div class="name">
                    {{film.name}}
                </div>
                <!--
                    Kiveszem, amíg ránézek majd miért nem jó
                    <span class="favorite {{film.favorite? '': 'not'}}">
                    ❤️
                </span> -->
                <div class="stars">
                    <star-rating [stars]="film.stars"/>
                </div>
            </div>
        </a>

    </li>
</ul>