<div class="container container-background">
  <div class="home">
    <ng-container *ngFor="let chunk of filmek | chunkPipe: 3">
      <ul>
        <li *ngFor="let film of chunk">
          <a routerLink="/film/{{film.id}}">
            <img [src]="film.imageUrl" [alt]="film.name">
            <div class="content">
              <div class="name">
                {{film.name}}
              </div>
              <div class="stars">
                <star-rating [stars]="film.stars"/>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</div> 
