<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="film-container" *ngFor="let film of filmek">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="header-image">
              <img class="toplistimg" [src]="film.imageUrl" alt="{{ film.name }}">
            </div>
            <div class="info-container">
              <div class="title-year-container">
                <mat-card-title class="name">{{ film.name }}</mat-card-title>
                <mat-card-subtitle class="releaseyear">{{ film.release_year }}</mat-card-subtitle>
              </div>
              <div class="ratings-container">
                <p class="ratings">{{ film.ratings }}</p>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p>{{ film.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
