<div class="container">
    <h2>Profil adatok:</h2>
    <form>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" readonly>
      </div>
      <div class="form-group">
        <label for="username">Felhasználónév:</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.name" name="username" readonly>
      </div>
    <div class="form-group">
      <label for="profileImage">Profilkép:</label>
      <div class="fileselect">
        <input type="file" class="form-control-file" id="profileImage" (change)="onFileSelected($event)" readonly>
        <img *ngIf="imageUrl" [src]="imageUrl" class="profile-image">
      </div>
    </div>
  </form>
</div>