<div class="container">
    <h1>Módosítás:</h1>
    <form (ngSubmit)="onSaveClick()">
      <div class="name">
        <label>Név:</label>
      </div>
      <div class="filmname">
        <input type="text" name="name" required>
      </div>
      <div class="description">
        <label>Leírás:</label>
        <textarea name="description" required></textarea>
      </div>
      <div class="button">
        <button type="button" (click)="onCancelClick()">MÉGSEM</button>
        <button type="submit">MENTÉS</button>
      </div>
    </form>
  </div>
  