<!-- TARTALOM -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="film.imageUrl" [alt]="film.name" class="img-fluid"/>
    </div>
    <div class="col-md-6 details">
      <div class="header d-flex align-items-center">
        <h1 class="name">{{film.name}}</h1>
        <span class="favorite {{film.favorite ? 'text-danger' : 'text-secondary'}}">❤</span>
      </div>
      <div class="description">
        <p class="descr">{{film.description}}</p>
      </div>
      <div class="rating">
        <star-rating [stars]="film.stars" [size]="1.8" />
      </div>
      <div class="tags">
        <h4 class="cimke">Címkék:</h4>
        <span *ngFor="let tag of film.tags">
          <a routerLink="/tag/{{tag}}" class="tag">{{tag}}</a>
        </span>
      </div>
      <div class="origins">
        <h4 class="eredet">Származás:</h4>
        <ul class="originresult">
          <li *ngFor="let origin of film.origins">{{origin}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- KOMMENT SZEKCIÓ -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="comment-box">
        <textarea class="comment-input" placeholder="Hozzászólás"></textarea>
        <button class="submit-button" onclick="addComment()">ELKÜLD</button>
        <div class="comment-list">
          <!-- Példa kommentek -->
          <div class="comment">
            <img src="profile1.jpg" alt="Profilkép" class="profile-picture">
            <div class="comment-content">
              Ez egy példa komment.
            </div>
          </div>
          <div class="comment">
            <img src="profile2.jpg" alt="Profilkép" class="profile-picture">
            <div class="comment-content">
              Ez is egy példa komment, de más háttérszínnel.
            </div>
          </div>
          <div class="comment">
            <img src="profile3.jpg" alt="Profilkép" class="profile-picture">
            <div class="comment-content">
              Harmadik példa komment, ismét más háttérszínnel.
            </div>
          </div>
          <div class="comment">
            <img src="profile4.jpg" alt="Profilkép" class="profile-picture">
            <div class="comment-content">
              Negyedik példa komment, ismét más háttérszínnel.
            </div>
          </div>
          <div class="comment">
            <img src="profile5.jpg" alt="Profilkép" class="profile-picture">
            <div class="comment-content">
              Ötödik példa komment, újra más háttérszínnel.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
