/* 
Kódok:
szürke: #e2e2e2
kék: #1000ff 
*/

/*Kérdéses részek innentől */

.container {
  background-color: #e2e2e2;
  padding: 10px;
  max-width: 40%;
  height: auto;
  box-shadow: 5px 1px 20px 5px  #888888 ;
}

.row {

  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .details {
    width: 100%;
  }
}

/*Kérdéses részek idáig */



.tags {
  margin-top: 10px;
}

.tags .tag {
  display: inline-block; /* Az inline-block kijavítja a margin problémát */
  background-color:  #f0f0f0;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 10rem;
  font-weight: bold;
  text-align: justify;
  color: blue;
}

.name{
  font-size: 40px;
  font-weight: bold;
  color: #1000ff;
}



.favorite{
  margin-left: 10px;
}

img{
  max-width: 100%;
  height: auto;
  
}

.description {
  text-align: justify;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 20px;

}

.cimke, .eredet{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.originresult {
  font-size: 1rem;
  font-weight: bold;
}




/* KOMMENT SZEKCIÓ STÍLUSOK */

.comment-box {
  background-color: #f5f5f5; 
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.comment-input {
  width: calc(100% - 20px);
  height: 80px; /*Kérdéses */
  padding: 10px;
  border: 1px solid #ddd; /* Nem látni?! */
  border-radius: 15px; 
  outline: none;
  resize: none; 
}

.submit-button {
  width: 200px; 
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.comment-list {
  margin-top: 20px;
}

.comment {
  width: 100%;
  padding: 15px; 
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 15px; 
  border: 1px solid #ddd;
  background-color: #fff; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.comment-content {
  flex: 1; 
}

.profile-picture {
  max-width: 50px; 
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.comment-user {
  font-weight: bold;
  color: blue; 
}

.separator {
  border-top: 2px solid #ddd;
  margin-bottom: 5px; 
}

.comment-date {
  margin-top: 5px; 
  text-align: right; 
}

.comment-separator {
  border-top: 1px solid #ddd; /* Nem látni?! */
}

.comment:nth-child(odd) {
  background-color: rgba(121, 117, 117, 0.452);
}

.comment:nth-child(odd) .comment-content {
  color: white; 
}

.comment:nth-child(even) {
  background-color: white; 
}

.comment:nth-child(even) .comment-content {
  color: black; 
}



@media (max-width: 992px) {
  .comment-box {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .comment-box {
    padding: 5px;
  }
}


