/* 
Kódok:
szürke: #e2e2e2
kék: #1000ff 
*/

/*Kérdéses részek innentől */

.container {
  background-color: #e2e2e2;
  display: flex;
  padding: 10px;
  max-width: 50%;
  height: auto;
}

.row {

  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .details {
    width: 100%;
  }
}

/*Kérdéses részek idáig */



.tags {
  margin-top: 10px;
}

.tags .tag {
  display: inline-block; /* Az inline-block kijavítja a margin problémát */
  background-color:  #f0f0f0;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 10rem;
  font-weight: bold;
  text-align: justify;
  color: blue;
}

.name{
  font-size: 40px;
  font-weight: bold;
  color: #1000ff;
}



.favorite{
  margin-left: 10px;
}

img{
  max-width: 100%;
  height: auto;
  
}

.description {
  text-align: justify;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 20px;

}

.cimke, .eredet{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.originresult {
  font-size: 1rem;
  font-weight: bold;
}

/* KOMMENT SZEKCIÓ STÍLUSOK */

.comment-box {
  background-color: #e2e2e2;
  padding: 20px;
}

.comment-input {
  width: 180%; 
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 60px;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  width: 180%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
}

.comment:nth-child(odd) {
  background-color: #1000ff;
}

.comment:nth-child(odd) .comment-content {
  color: white; 
}

.comment:nth-child(even) {
  background-color: white; 
}

.comment:nth-child(even) .comment-content {
  color: black; 
}

.profile-picture {
  max-width: 100%; 
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .comment-box {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .comment-box {
    padding: 5px;
  }
}
