.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .user-card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #ccc; /* default background color */
    background-size: cover;
  }
  
  mat-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  