<div class="container">
  <div class="paginator-container">
    <mat-paginator [pageSize]="5"></mat-paginator>
  
    <ng-container *ngFor="let film of filmek; let i = index;">
      <div class="row" [class.white-background]="i % 2 === 0" [class.grey-background]="i % 2 !== 0">
        <div class="col">
          <img src="{{ film.imageUrl }}" alt="image">
        </div>
        <div class="col">
          <p class="filmname">{{ film.name }}</p>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="deleteMovie(film)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editMovie(film)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  
</div>