<div *ngIf="userService.hasAbilities('admin')" class="container">
  <div class="search-container">
    <input type="text" placeholder="Keresés..." [(ngModel)]="searchTerm" (input)="filterMovies()">
  </div>
  <div class="addmovie">
    <button mat-raised-button class="custom-primary-button" (click)="openDialog()">Film Hozzáadása</button>
  </div>
  <div class="paginator-container">
    <mat-paginator [pageSize]="5"></mat-paginator>
  
    <ng-container *ngFor="let film of filteredFilms; let i = index;">
      <div class="row" [class.white-background]="i % 2 === 0" [class.grey-background]="i % 2 !== 0">
        <div class="col">
          <img src="{{ film.imageUrl }}" alt="Film kép">
        </div>
        <div class="col">
          <p class="filmname">{{ film.name }}</p>
        </div>
        <div class="col">
          <button mat-icon-button color="warn" (click)="deleteMovie(film)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editMovie(film)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="addTag(film)">
            <mat-icon>label</mat-icon>
          </button>          
        </div>
      </div>
    </ng-container>
  </div>
</div>
