<div class="container">
    <div class="row">
      <div class="col-md-2 sidebar">
        <div class="profile">
          <img src="profile-picture.jpg" alt="Profile Picture">
          <h4>Norbi</h4>
        </div>
        <div class="menu">
          <ul>
            <li><a  routerLink="Main"><i class="fas fa-home"></i> Főoldal</a></li>
            <li><a href="#"><i class="fas fa-chart-bar"></i> Statisztikák</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i> Üzenetek</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> Beállítások</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Felhasználók</a></li>
            <li><a href="#"><i class="fas fa-file-alt"></i> Dokumentumok</a></li>
            <fieldset *ngIf="this.service.isUserLoggedIn()" >
              <li><a routerLink="adminpanel" class="admin"><i class="fas fa-user-shield"></i> Admin felület</a></li>
            </fieldset>
            
          </ul>
        </div>
      </div>
