<div class="header-container">
  <mat-toolbar color="primary" class="header-toolbar">
    <!-- Hamburger ikon -->
    <button mat-icon-button (click)="toggleUserPanel()">
      <mat-icon>menu</mat-icon>
    </button>

    <span routerLink="Main" class="toolbar-title">FilmSarok</span>

    <!-- Menüpontok -->
    <div class="menu">
      <button mat-button routerLink="Movies">
        <mat-icon>movie</mat-icon><span class="menu-label">Filmek</span>
      </button>
      <button mat-button routerLink="Toplist">
        <mat-icon>list</mat-icon><span class="menu-label">Toplista</span>
      </button>
      <button mat-button routerLink="Login">
        <mat-icon>login</mat-icon><span class="menu-label">Belépés</span>
      </button>
      <button mat-button routerLink="Register">
        <mat-icon>person_add</mat-icon><span class="menu-label">Regisztráció</span>
      </button>
    </div>

    <!-- Keresési Mező -->
    <span class="spacer"></span>
    <app-search class="search-container"></app-search>
  </mat-toolbar>

  <!-- Vízszintes menü -->
  <div class="horizontal-menu" [ngClass]="{ 'open': userPanelOpen }">
    <ul>
      <li><a routerLink="Main"><i class="fas fa-home"></i> Főoldal</a></li>
      <li><a href="#"><i class="fas fa-chart-bar"></i> Statisztikák</a></li>
      <li><a href="#"><i class="fas fa-envelope"></i> Üzenetek</a></li>
      <li><a routerLink="editprofile"><i class="fas fa-cog"></i> Beállítások</a></li>
      <li><a routerLink="userlist"><i class="fas fa-users"></i> Felhasználók</a></li>
      <li><a href="#"><i class="fas fa-file-alt"></i> Dokumentumok</a></li>
      <li *ngIf="this.service.isUserLoggedIn() && this.service.hasAbilities('admin')" class="admin"><a routerLink="adminpanel"><i class="fas fa-user-shield"></i> Admin felület</a></li>
    </ul>
  </div>
</div>
