<div class="header-container">
  <mat-toolbar color="primary" class="header-toolbar">
    <!-- Hamburger ikon -->
    <button mat-icon-button (click)="toggleUserPanel()">
      <mat-icon>menu</mat-icon>
    </button>

    <span routerLink="Main" class="toolbar-title">FilmSarok</span>

    <!-- Menüpontok -->
    <div class="menu">
      <button mat-button routerLink="Movies">
        <mat-icon>movie</mat-icon><span class="menu-label">Filmek</span>
      </button>
      <button mat-button routerLink="Toplist">
        <mat-icon>list</mat-icon><span class="menu-label">Toplista</span>
      </button>
      <button mat-button routerLink="Login">
        <mat-icon>login</mat-icon><span class="menu-label">Belépés</span>
      </button>
      <button mat-button routerLink="Register">
        <mat-icon>person_add</mat-icon><span class="menu-label">Regisztráció</span>
      </button>
    </div>

    <!-- Keresési Mező -->
    <span class="spacer"></span>
    <app-search class="search-container"></app-search>
  </mat-toolbar>

  <!-- Userpanel hivatkozás: -->
  <div class="user-panel" [class.open]="userPanelOpen">
    <app-userpanel *ngIf="userPanelOpen"></app-userpanel>
  </div>
</div>

<div class="main-content">
  <!-- Menüpontok által megnyitott komponensek -->
  <router-outlet></router-outlet>
</div>