header{
    position: relative;
    padding: 0;
    border-bottom: 1px solid #372aee;
}

a{
    color: rgb(45, 91, 243);

}

a:hover{
    background: #372aee;
    color: white;
    cursor: pointer;
    
}

.container{ 
    margin: 0 auto;
    display: flex;
  justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;

}

.search-container {
    display: flex;
    margin-left: auto; 
  }
  
  .menu-container {
    position: relative;
    margin-left: 10px;
  }

@media (max-width: 768px) {
    .search-container{
        justify-content: center;
    }
}
