header{
    padding: 0;
    border-bottom: 1px solid #372aee;
}


a{
    color: white;
    font-weight: bold;
}

a:hover{
    background: black;
    color: white;
    cursor: pointer;

}

.search-container {
    display: flex;

    /* Valamiért felesleges  helyet generál jobb oldalon, nem tudom miért */
    margin-left: auto;  
  }
  
.navbar-brand{
    margin-left: 10px;
}

@media (max-width: 1000px) {
    .search-container{
        justify-content: center;
    }
    .navbar-brand{
        justify-content: center;
        text-align: center;
    }
    a{
        justify-content: center;
        text-align: center;
    }
    
}