header{
    padding: 0;
    border-bottom: 1px solid #372aee;
}


a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

a:hover{
    padding: 2px;
    background: black;
    height: 100%;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.search-container {
    display: flex;
    margin-left: auto;  
    margin-right: 20px;
  }

.navbar-brand{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

@media (max-width: 1000px) {
    .search-container{
        justify-content: center;
    }
    .navbar-brand{
        justify-content: center;
        text-align: center;
    }
    a{
        justify-content: center;
        text-align: center;
    }
    
}