<div class="container">
  <!-- Eredmény üzenet -->
  <div class="result-message" *ngIf="isSuccess !== undefined" [ngClass]="{'success': isSuccess, 'failure': !isSuccess}">
    <p>{{ isSuccess ? 'TAG HOZZÁADÁSA SIKERES!' : 'TAG HOZZÁADÁSA SIKERTELEN' }}</p>
  </div>

  <!-- Címkék -->
  <div class="tags">
    <h4 class="cimke">Címkék:</h4>
    <div class="tag-list">
      <span *ngFor="let tag of film.tags" class="tag-item">
        <a routerLink="/tag/{{tag}}" class="tag-link">{{tag}}</a>
      </span>
    </div>
  </div>

  <!-- Legördülő menü -->
  <div class="add-tag">
    <div class="input-and-button">
      <select [(ngModel)]="selectedTag">
        <option value="" disabled selected>Válassz egy címkét...</option>
        <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
      </select>
      <button (click)="addTag()" class="add-button">HOZZÁAD</button>
    </div>
    <button class="close-button" mat-button (click)="closeDialog()">BEZÁR</button>
  </div>
</div>
