/* Kódok:
szürke: #e2e2e2
kék: #1000ff */

.container{
    background: #e2e2e2;
}


.ajanlasok{
    justify-content: center;
    margin-top: 20px;
}

.main{
    color:  #1000ff;
}



.lorem{
    text-align: justify;
    margin: 2px;
}



/* BANNER INNENTŐL */

.carousel-inner
{
    height: 700px;
}

.carousel-inner .carousel-item img
{
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2
{
    color: #E50914;
    font-weight: bold;
    font-size: 40px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 10%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}

/* BANNER IDÁIG */