/* Kódok:
szürke: #e2e2e2
kék: #1000ff */

.container{
    background: #e2e2e2;
}


.ajanlasok{
    justify-content: center;
    margin-top: 20px;
}

.main{
    color:  #1000ff;
}



.lorem{
    text-align: justify;
    margin: 2px;
}



#carouselExample {
    max-width: 1600px; 
    margin: 0 auto; 
    background-color: black; 
  }
  
  .carousel-inner img {
    max-height: 600px; 
    object-fit: cover; 
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .carousel-caption h5,
  .carousel-caption p {
    color: white; 
  }
  
  