.container{
  background-color: #e2e2e2;
  width: 30%;
  padding: 10px;
}

.login-fieldset, .success-fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.login-fieldset legend, .success-fieldset legend {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button, .logout-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: blue;
}

.success-fieldset {
  background-color: #e6ffe6;
}

#regfield{
  font-weight: bold;
  font-size: 15px;
  color: blue;
}
