<div class="container">
  <fieldset *ngIf="!this.service.isUserLoggedIn()" class="login-fieldset">
    <legend>Bejelentkezés</legend>
  
    <label>Email:</label>
    <input type="text" [(ngModel)]="user.email" class="input-field" />
    <label>Jelszó:</label>
    <input type="password" [(ngModel)]="user.password" class="input-field" />
  
    <button mat-raised-button color="primary" class="login-button" (click)="login()">Bejelentkezés</button>
  </fieldset>
  
  
  <fieldset *ngIf="this.service.isUserLoggedIn()" class="success-fieldset">
    <legend>Bejelentkezve, mint:  {{ user.email }}!</legend>
  
    <button mat-raised-button color="primary" class="logout-button" (click)="logout()">Kijelentkezés</button>
  </fieldset>

  <a  id="regfield" class="d-block text-center mt-2 small" href="http://localhost:4200/Register">Még nem regisztráltál?</a>
</div>
