<div class="container">
  <h1>Módosítás:</h1>
  <form>
    <div class="name">
      <label>Név:</label>
    </div>
    <div class="filmname">
      <input type="text" [ngModel]="tempFilm.name" (ngModelChange)="tempFilm.name = $event" name="name" required>
    </div>
    <div class="description">
      <label>Leírás:</label>
      <textarea [ngModel]="tempFilm.description" (ngModelChange)="tempFilm.description = $event" name="description" required></textarea>
    </div>
    <div class="button">
      <button type="button" (click)="onCancelClick()">MÉGSEM</button>
      <button type="button" (click)="onSaveClick()">MENTÉS</button>
    </div>
  </form>
</div>
